.contributor {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--secondary-color-1);
  border-radius: 8px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.details p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #555;
}
