.searchBar {
  position: relative;
  width: 100%;
}

.searchIcon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--gray-400);
  pointer-events: none;
}

.searchBar input {
  padding-left: 3rem;
}
